
body { 
    
    font-family: Arial;
    background-color: rgb(43, 43, 43);
    font-size: 15px;
    color: whitesmoke
}


header {
    text-align: center;
    margin-bottom: 10px;
}

.topPost {
    margin-top: 50px;
}

#posts {
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    width: auto;
}

.post {
    background-color: rgb(43, 43, 43);
    margin-bottom: 50px;
    border-radius: 10px;
    margin-right: 200px;
    margin-left: 200px;
}

.post > h3 {
    text-align: center;
}

.post > p{
    color: whitesmoke;
}

.dropbtn {
    background-color: #4d4d4d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #4d4d4d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #3f3f3f;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3f3f3f;}