/**{
    margin: 0px;
    padding: 0px;
}*/
/*Styles the body and the Dropdown menue*/
body { 
    
    font-family: Arial;
    background-color: rgb(43, 43, 43);
    font-size: 15px;
    color: whitesmoke
}





/*Styles the posts and the Slideshow*/
header {
    text-align: center;
    margin-bottom: 10px;
}

.topPost {
    margin-top: 50px;
}

#posts {
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    width: auto;
}

.post {
    background-color: rgb(43, 43, 43);
    margin-bottom: 50px;
    border-radius: 10px;
    margin-right: 200px;
    margin-left: 200px;
}

.post > h3 {
    text-align: center;
}

.post > p{
    color: whitesmoke;

